main {
  max-width: 2000px;
  margin: auto 200px;
}

.about {
  background-color: var(--yellow);
  width: 920px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.about h1 {
  margin: 40px;
  padding-top: 40px;
}

.about p {
  margin: 20px 40px;
}

.float {
  float: right;
  width: 430px;
  height: 592px;
  margin-left: 50px;
}
