.contact {
  background-color: var(--turquoise);
  display: flex;
  width: 920px;
  height: 650px;
}

.contact h1 {
  margin: 40px;
}

.contact p {
  margin: 10px 40px;
}

.contact img {
  height: 650px;
}

.message {
  font-style: italic;
  margin: 10px 40px;
  padding: 0 10px;
  background-color: var(--blue);
  color: var(--white);
  width: 110px;
}

.form {
  margin: auto 40px;
}

.contact_form {
  width: 300px;
  margin: 0 -5px;
  padding: 10px;
  border-radius: 8px;
  display: block;
}

textarea {
  height: 100px;
  width: 300px;
}

button {
  width: 100px;
  height: 40px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1em;
}

.errorMessage {
  margin-top: -10px;
  margin-right: 100px;
  font-size: small;
  text-align: right;
  color: var(--dark-blue);
  display: none;
}
