.contact {
  background-color: var(--turquoise);
  display: flex;
  width: 920px;
  height: 610px;
}

.contact h1 {
  margin: 40px;
}

.contact p {
  margin: 20px 40px;
}

.contact img {
  height: 610px;
}

.form {
  margin: auto 40px;
}

.contact_form {
  width: 300px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  display: block;
}

textarea {
  height: 100px;
  width: 300px;
}
