.contact {
  background-color: var(--yellow);
  width: 920px;
  height: 610px;
  pdding-bottom: 20px;
  margin-bottom: 40px;
}

.contact h1 {
  margin: 40px;
  padding-top: 40px;
}

.contact p {
  margin: 20px 40px;
}

.float {
  float: right;
  height: 100%;
  margin-left: 50px;
}

.form {
  margin: auto 40px;
}

.contact_form {
  width: 300px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  display: block;
}

textarea {
  height: 100px;
  width: 300px;
}
