.exhibitions-grid-container {
  width: 1008px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 
    "explore explore"
    "robotics evolution"
    "sky evolution";
}

.explore {
  background-color: var(--yellow);
  width: 1008px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  grid-area: explore;
}

.explore img {
  width: 1008px;
}

.explore-text {
  margin: auto 40px;
}

.exhbitions {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
  justify-self: center;
}

.robotics {
  background-color: var(--turquoise);
  width: 650px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  grid-area: robotics;
}

.robotics img {
  width: 650px;
}

.robotics-text {
  margin: auto 40px;
}

.sky {
  background-color: var(--blue);
  width: 650px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  grid-area: sky;
}

.sky img {
  width: 650px;
}

.sky-text {
  color: var(--white);
  margin: auto 40px;
}

.evolution {
  background-color: var(--orange);
  width: 290px;
  height: 1193px;
  margin-bottom: 40px;
  grid-area: evolution;
}

.evolution h2 {
  padding-top: 20px;
}

.evolution img {
  width: 290px;
  margin-bottom: -5px;
}

.evolution-text {
  margin: auto 40px;
}
