main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
}

.welcome {
  background-color: var(--orange);
  width: 700px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.welcome img {
  width: 700px;
}

.welcome-text {
  margin: auto 40px;
}

.explore__home-page {
  background-color: var(--yellow);
  width: 700px;
  height: 610px;
  margin-bottom: 40px;
}

.explore__home-page h2 {
  padding: 40px 40px 20px 40px;
}

.explore__home-page img {
  width: 350px;
  margin: auto -4px -4px auto;
}

.events {
  background-color: var(--turquoise);
  width: 182px;
  padding: 10px 30px;
}

.events p {
  margin: 6px auto;
}

.events div {
  margin-bottom: 30px;
}

.events_eventtype {
  font-style: italic;
}