main {
  max-width: 2000px;
  margin: auto 200px;
}

.welcome {
  background-color: var(--orange);
  width: 700px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.welcome img {
  width: 700px;
}

.welcome-text {
  margin: auto 40px;
}

.explore__home-page {
  background-color: var(--yellow);
  width: 700px;
  margin-bottom: 40px;
}

.explore__home-page h2 {
  padding: 40px 40px 20px 40px;
}

.explore__home-page img {
  width: 350px;
  margin: auto -4px -4px auto;
}

.opening-hours {
  border: 1px solid var(--grey);
  width: 180px;
  padding: 10px 30px;
  margin-bottom: 40px;
}

.events {
  background-color: var(--turquoise);
  width: 182px;
  padding: 10px 30px;
  margin-bottom: 40px;
}
