main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.welcome,
.explore__home-page,
.welcome img {
  width: 680px;
}

.welcome {
  background-color: var(--orange);
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.welcome-text {
  margin: auto 40px;
}

.explore__home-page {
  background-color: var(--yellow);
  height: 576px;
  margin-bottom: 40px;
}

.explore__home-page h2 {
  padding: 30px 40px;
  margin: 0;
}

.explore__home-page img {
  width: 340px;
  margin: auto -4px -4px auto;
}

.events {
  background-color: var(--turquoise);
  width: 182px;
  padding: 10px 30px;
}

.events p {
  margin: 6px auto;
}

.events div {
  margin-bottom: 30px;
}

.events_eventtype {
  font-style: italic;
}