@media only screen and (min-width: 1025px) {
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  header,
  main,
  .about,
  .contact,
  footer {
    width: 750px;
  }

  nav li {
    margin-right: 60px;
  }

  /* main {
    gap: 10px;
  } */

  h3 {
    font-size: 1.1em;
  }

  p {
    font-size: 0.9em;
  }

  .welcome,
  .explore__home-page,
  .visit-us,
  .facilities,
  .welcome img,
  .visit-us img {
    width: 540px;
  }

  .opening-hours,
  .events,
  .tickets {
    width: 160px;
    padding: 15px;
  }

  .about h1,
  .contact h1 {
    margin-bottom: 20px;
  }

  /* Home Page */
  .explore__home-page {
    height: 477px;
  }

  .explore__home-page img {
    width: 270px;
  }

  /* Exhibitions */
  .exhibitions-grid-container {
    width: 740px;
  }

  .explore {
    margin-bottom: 20px;
  }

  .explore,
  .explore img {
    width: 740px;
  }

  .robotics,
  .sky,
  .robotics img,
  .sky img {
    width: 480px;
  }

  .evolution,
  .evolution img {
    width: 240px;
  }

  .evolution {
    height: 1135px;
  }

  /* Visit Us */
  .visit-us,
  .facilities,
  .visit-us img {
    width: 520px;
  }
  
  .facilities {
    height: 500px;
    padding-bottom: 0;
    overflow: hidden;
  }

  .facilities h2,
  .facilities h3,
  .facilities p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .facilities h2 {
    padding-top: 20px;
    margin-top: 0;
  }

  .facilities h3 {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .facilities p {
    margin: auto 20px 10px 40px;
  }

  .facilities img {
    width: 300px;
    margin-right: -40px;
  }

  .tickets_form {
    width: 140px;
  }

  /* About Us */
  .about {
    height: 570px;
  }

  .about img {
    width: 380px;
    height: 570px;
    margin-left: 10px;
  }

  /* Contact Us */
  .form,
  .contact_form {
    width: 250px;
  }
  
  .form {
    margin: auto 20px auto 20px;
  } 
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  header,
  main,
  footer {
    width: 464px;
  }

  nav li {
    font-size: 0.9em;
    margin-right: 30px;
    padding-left: 0;
  }

  .logo h1 {
    font-size: 1.3em;
  }

  .logo p {
    font-size: 1em;
    margin-left: 198px;
  }

  main {
    display: block;
    margin-top: 200px;
  }

  h1 {
    font-size: 1.3em;
    padding: auto 20px;
  }

  h3 {
    font-size: 1.1em;
  }

  p {
    font-size: 0.9em;
    margin: 20px 0;
    padding: 0;
  }

  .welcome,
  .explore__home-page,
  .facilities,
  .exhibitions-grid-container,
  .explore,
  .robotics,
  .sky,
  .evolution,
  .visit-us,
  .facilities,
  .tickets,
  .about,
  .contact,
  .form,
  .welcome img,
  .visit-us img,
  .explore img,
  .robotics img,
  .sky img,
  .evolution img,
  .visit-us img {
    width: 464px;
  }

  .exhibitions-grid-container,
  .about,
  .contact {
    display: block;
  }

  .contact img,
  .about img {
    height: 100%;
    width: 100%;
  }

  /* Home Page */
  .explore__home-page {
    height: 477px;
  }

  .explore__home-page img {
    width: 232px;
  }

  .info__home-page {
    display: flex;
    justify-content: space-between;
  }

  .opening-hours,
  .events {
    height: 330px;
    width: 232px;
  }

  /* Exhibitions */
  .evolution {
    height: 1244px;
  }

  /* Visit Us */
  .facilities {
    height: 550px;
    margin-bottom: 40px;
    overflow: hidden;
  }

  .facilities h2,
  .facilities h3,
  .facilities p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .facilities h2 {
    padding-top: 20px;
    margin-top: 0;
  }

  .facilities h3 {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .facilities p {
    margin: auto 20px 10px 40px;
  }

  .facilities img {
    width: 310px;
    margin-right: -80px;
  }

  .visit-us-info {
    display: flex;
    justify-content: space-between;
  }

  .visit-us-info .opening-hours {
    height: 600px;
  }

  .visit-us-info .tickets,
  .visit-us-info .opening-hours {
    width: 180px;
    padding: auto 15px;
  }

  .tickets_form {
    width: 160px;
  }

  /* About Us */
  .about {
    display: flex;
    height: 730px;
    overflow: hidden;
  }

  .about_text {
    margin: auto 0 40px auto;
    width: 550px;
  }

  .about-img {
    overflow: hidden;
  }

  .about-img img {
    width: 420px;
    margin-left: -80px;
  }

  /* Contact Us */
  .contact {
    height: 1290px;
  }

  .contact h1 {
    padding-top: 30px;
  }

  .form,
  .contact_form,
  .errorMessage {
    width: 350px; 
  }

  .contact-img {
    overflow: hidden;
    width: 464px;
  }

  .contact img {
    margin-top: 20px;
  }

  .errorMessage {
    margin: -10px 0;
  }
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
  header,
  main,
  .exhibitions-grid-container,
  .welcome,
  .explore__home-page,
  .facilities,
  .explore,
  .robotics,
  .sky,
  .evolution,
  .visit-us,
  .facilities,
  .tickets,
  .about,
  .contact,
  .welcome img,
  .visit-us img,
  .explore img,
  .robotics img,
  .sky img,
  .evolution img,
  .visit-us img,
  footer {
    width: 303px;
  }

  nav li {
    margin-right: 40px;
    font-size: 0.9em;
  }

  .logo {
    padding: 15px 20px;
  }

  .logo h1 {
    font-size: 1em;
  }

  .logo p {
    font-size: 0.9em;
    margin-left: 135px;
  }

  main {
    display: block;
    margin: 220px 0 0 0;
    padding: 0;
  }

  p {
    font-size: 0.9em;
  }

  .exhibitions-grid-container,
  .about,
  .contact {
    display: block;
  }

  .contact img,
  .about img {
    width: 100%;
  }

  /* Home Page */
  .explore__home-page {
    height: 288px;
  }

  .explore__home-page h2 {
    padding: 20px 0 20px 0;
    margin-left: 40px;
  }

  .explore__home-page img {
    width: 151px;
  }

  .info__home-page {
    display: block;
    margin: 20px auto;
  }

  .info__home-page h3,
  .info__home-page p {
    margin-left: 40px;
  }

  .info__home-page .opening-hours {
    width: 301px;
    padding: 0;
  }

  .info__home-page .events {
    width: 303px;
    padding: 2px 0 2px 0;
  }

  /* Exhibitions */

  .evolution {
    height: 1318px;
  }

  /* Visit Us */
  .facilities {
    display: block;
    height: 800px;
    margin-bottom: 40px;
    overflow: hidden;
  }

  .facilities h2,
  .facilities h3,
  .facilities p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .facilities h2 {
    padding-top: 20px;
    margin-top: 0;
  }

  .facilities h3 {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .facilities p {
    margin: auto 20px 20px 40px;
  }

  .facilities-img {
    overflow: hidden;
  }

  .facilities img {
    width: 100%;
    margin-top: -130px;
  }

  .visit-us-info .opening-hours {
    height: 330px;
    margin: auto auto 40px auto;
  }

  .tickets {
    padding: 10px 0;
  }

  .tickets h3 {
    margin: 15px auto;
    text-align: center;
  }

  .tickets p {
    margin: auto 10px;
  }

  .tickets form {
    padding-left: 0;
    margin: auto auto 15px 10px;
  }

  .tickets_form {
    width: 260px;
  }

  /* About Us */
 
  .about {
    display: flex;
    height: 1100px;
    overflow: hidden;
  }

  .about h1 {
    margin: 30px 25px;
  }

  .about p {
    margin: 0 30px 30px 25px;
  }

  .about-img {
    width: 180px;
    overflow: hidden;
  }

  .about-img img {
    height: 1100px;
    width: 700px;
    margin: 0 0 0 -180px;
  }

  .about_text {
    width: 300px;
  }

  /* Contact Us */
  .contact {
    height: 1072px;
    overflow: hidden;
  }

  .contact h1 {
    padding-top: 30px;
    margin-top: 0;
  }

  .form {
    width: 280px;
    margin: auto;
  }

  .contact_form {
    width: 280px;
  }

  .contact-img {
    overflow: hidden;
  }

  .contact img {
    width: 480px;
    margin-top: -120px;
  }

  .form button {
    font-size: 0.9em;
    height: 30px;
    width: 80px;
  }
}

@media only screen and (max-width: 319px) {
  header,
  main,
  .exhibitions-grid-container,
  .welcome,
  .explore__home-page,
  .facilities,
  .explore,
  .robotics,
  .sky,
  .evolution,
  .visit-us,
  .facilities,
  .tickets,
  .about,
  .contact,
  .welcome img,
  .visit-us img,
  .explore img,
  .robotics img,
  .sky img,
  .evolution img,
  .visit-us img,
  footer {
    width: 223px;
  }

  nav ul {
    padding-left: 10px;
  }

  nav li {
    margin-right: 20px;
    font-size: 0.9em;
  }

  .logo {
    padding: 15px 20px;
  }

  .logo h1 {
    font-size: 1em;
  }

  .logo p {
    font-size: 0.8em;
    margin-left: 0px;
  }

  main {
    display: block;
    margin: 220px 0 0 0;
    padding: 0;
  }

  h1 {
    font-size: 1.3em;
  }

  p {
    font-size: 0.9em;
  }

  .exhibitions-grid-container,
  .about,
  .contact {
    display: block;
  }

  .contact img,
  .about img {
    width: 100%;
  }

  /* Home Page */
  .welcome-text {
    margin: 20px auto auto 20px;
  }

  .welcome-text h1 {
    margin: 0;
  }
  
  .explore__home-page {
    display: block;
    height: 700px;
  }

  .explore__home-page h2 {
    padding: 20px 0 20px 0;
    margin-left: 20px;
    font-size: 1.2em;
  }

  .explore__home-page img {
    width: 223px;
  }

  .info__home-page {
    display: block;
    margin: 20px auto;
  }

  .info__home-page h3,
  .info__home-page p {
    margin-left: 20px;
  }

  .info__home-page .opening-hours {
    width: 221px;
    padding: 0;
  }

  .info__home-page .events {
    width: 223px;
    padding: 2px 0 2px 0;
  }

  /* Exhibitions */

  .explore-text,
  .robotics-text,
  .sky-text,
  .evolution-text {
    margin-left: 20px;
  }


  .evolution {
    height: 1081px;
  }

  /* Visit Us */
  .visit-us-text,
  .facilities h2,
  .facilities h3,
  .facilities p {
    margin-left: 20px;
  }
  
  .facilities {
    display: block;
    height: 800px;
    margin-bottom: 40px;
    overflow: hidden;
  }

  .facilities h2,
  .facilities h3,
  .facilities p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .facilities h2 {
    padding-top: 20px;
    margin-top: 0;
  }

  .facilities h3 {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .facilities-img {
    overflow: hidden;
  }

  .facilities img {
    width: 100%;
    margin-top: -130px;
  }

  .visit-us-info .opening-hours {
    width: 221px;
    height: 310px;
    padding: 0;
  }

  .visit-us-info .opening-hours h3,
  .visit-us-info .opening-hours p {
    margin-left: 20px;
  }

  .tickets {
    padding: 10px 0;
  }

  .tickets h3 {
    margin: 15px auto;
    text-align: center;
  }

  .tickets p {
    margin: auto 10px;
  }

  .tickets form {
    padding-left: 0;
    margin: auto auto 15px 10px;
  }

  .tickets_form {
    width: 180px;
  }

  /* About Us */
 
  .about {
    display: block;
    height: 1145px;
  }

  .about_text {
    width: 220px;
    padding-top: 20px;  }

  .about h1 {
    margin: 20px;
  }

  .about p {
    margin: 0 20px 30px 20px;
  }

  .about-img {
    width: 223px;
    overflow: hidden;
  }

  .about-img img {
    height: 300px;
    width: 100%;
    margin: 0 0 0 0px;
  }

  /* Contact Us */
  .contact {
    height: 1072px;
    overflow: hidden;
  }

  .contact h1 {
    padding-top: 30px;
    margin: 0 auto 0 20px;
  }

  .form {
    width: 200px;
    margin: auto 15px;
  }

  .contact_form {
    width: 180px;
  }

  .contact-img {
    overflow: hidden;
  }

  .contact img {
    width: 480px;
    margin-top: -120px;
  }

  .contact p {
    margin: 20px 20px 25px 20px;

  }

  .form button {
    font-size: 0.9em;
    height: 30px;
    width: 80px;
  }
}
