@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 801px) and (max-width: 1023px) {
    header {
        width: 781px;
    }

    nav li {
        margin-right: 60px;
    }

    main {
        width: 760px;
        gap: 20px;
    }


    h3 {
        font-size: 1.1em;
    }

    p {
        font-size: 0.9em;
    }

    .welcome,
    .explore__home-page,
    .visit-us,
    .facilities,
    .welcome img,
    .visit-us img {
        width: 540px;
    }

    .opening-hours,
    .events,
    .tickets {
        width: 160px;
        padding: 15px;
    }

    .about,
    .contact {
        width: 760px;
    }

    .about h1,
    .contact h1 {
        margin-bottom: 20px;
    }

    footer {
        width: 781px;
    }

    /* Home Page */
    .explore__home-page {
        height: 478px;
    }

    .explore__home-page img {
        width: 270px;
    }

    /* Exhibitions */
    .exhibitions-grid-container {
        width: 740px;
    }

    .explore {
        margin-bottom: 20px;
    }

    .explore,
    .explore img {
        width: 740px;
    }

    .robotics,
    .sky,
    .robotics img,
    .sky img {
        width: 480px;
    }

    .evolution,
    .evolution img {
        width: 240px;
    }

    .evolution {
        height: 1137px;
    }

    /* Visit Us */

    
    .facilities {
        height: 740px;
        padding-bottom: 0;
        ovrflow: hidden;
    }
    
    .facilities h2,
    .facilities h3,
    .facilities p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .facilities h2 {
        padding-top: 20px;
        margin-top: 0;
    }

    .facilities h3 {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .facilities p {
        marin-top: 0;
        margin: auto 20px 10px 40px;
    }

    .facilities img {
        hight: 710px;
        width: 300px;
    }

    .tickets_form {
        width: 140px;
    }

    /* About Us */
    .about {
        height: 570px;
    }

    .about img {
        width: 380px;
        height: 570px;
    }

    /* Contact Us */    
    .form {
        margin: auto 20px auto 40px;
      }
    
    .contact_form {
        width: 250px;
    }
}


@media only screen and (min-width: 601px) and (max-width: 800px) {
    header {
        width: 581px;
    }

    nav li {
        margin-right: 45px;
    }

    .logo h1 {
        font-size: 1.7em;
    }

    .logo p {
        font-size: 1.2em;
        margin-left: 285px;
    }

    main {
        display: block;
        margin-top: 10px;
    }
    
    h1 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.1em;
    }

    p {
        font-size: 0.9em;
    }

    .welcome,
    .explore__home-page,
    .facilities,
    .explore,
    .robotics,
    .sky,
    .evolution,
    .visit-us,
    .facilities,
    .tickets,
    .about,
    .contact,
    .welcome img,
    .visit-us img,
    .explore img,
    .robotics img,
    .sky img,
    .evolution img,
    .visit-us img {
        width: 540px;
    }

    .exhibitions-grid-container,
    .about,
    .contact {
        display: block;
    }

    .contact img,
    .about img {
        height: 100%;
        width: 100%;
    }

    footer {
        width: 581px;
    }


    /* Home Page */
    .explore__home-page {
        height: 498px;
    }

    .explore__home-page img {
        width: 270px;
    }

    .info__home-page {
        display: flex;
        justify-content: space-between;
    }


    /* Exhibitions */
    .exhibitions-grid-container {
        width: 581px;
    }

    .evolution {
        height: 1359px;
    }


    /* Visit Us */
    .facilities .float {
        float: none;
        width: 580px;
        margin: 0;
    }
    
    .tickets {
        width: 520px;
        margin: 40px;
    }

    .tickets_form {
        width: 400px;
    }


    /* About Us */
    .about {
        height: 1050px;
        overflow: hidden;
    }

    .about_text {
        margin-bottom: 40px;
    }
    

    /* Contact Us */
    .contact {
        height: 1375px;
    }

    .contact h1 {
        padding-top: 30px;
    }

    .contact_form {
        width: 450px;
    }
}


@media only screen and (max-width: 600px) {
    header {
        width: 500px;
    }

    nav li {
        margin-right: 29px;
    }

    .logo h1 {
        font-size: 1.5em;
    }

    .logo p {
        font-size: 1.1em;
        margin-left: 240px;
    }
    main {
        display: block;
        margin-top: 10px;
    }

    .welcome,
    .explore__home-page,
    .facilities,
    .explore,
    .robotics,
    .sky,
    .evolution,
    .visit-us,
    .facilities,
    .tickets,
    .about,
    .contact,
    .welcome img,
    .visit-us img,
    .explore img,
    .robotics img,
    .sky img,
    .evolution img,
    .visit-us img {
        width: 480px;
    }

    .exhibitions-grid-container,
    .about,
    .contact {
        display: block;
    }

    .contact img,
    .about img {
        width: 100%;
    }

    footer {
        width: 500px;
    }


    /* Home Page */
    .explore__home-page {
        height: 425px;
    }

    .explore__home-page h2 {
        padding-top: 30px;
        margin-bottom: 0;
    }

    .explore__home-page img {
        width: 240px;
    }

    .info__home-page {
        display: flex;
        justify-content: space-between;   
    }

    .info__home-page .opening-hours,
    .info__home-page .events {
        width: 170px;
    }


    /* Exhibitions */
    .exhibitions-grid-container {
        width: 480px;
    }

    .evolution {
        height: 1318px;
    }

    /* Visit Us */


    /* About Us */
    .about {
        height: 1050px;
        overflow: hidden;
    }

    .about_text {
        margin-bottom: 40px;
    }
    

    /* Contact Us */
    .contact {
        height: 1195px;
    }

    .contact h1 {
        padding-top: 30px;
    }

    .contact_form {
        width: 350px;
    }
}