@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 801px) and (max-width: 1023px) {
    header {
        width: 781px;
    }

    nav li {
        margin-right: 60px;
    }

    main {
        width: 760px;
        gap: 20px;
    }


    h3 {
        font-size: 1.1em;
    }

    p {
        font-size: 0.9em;
    }

    .welcome,
    .explore__home-page,
    .visit-us,
    .facilities,
    .welcome img,
    .visit-us img {
        width: 540px;
    }

    .opening-hours,
    .events,
    .tickets {
        width: 160px;
        padding: 15px;
    }

    .about,
    .contact {
        width: 760px;
    }

    .about h1,
    .contact h1 {
        margin-bottom: 20px;
    }

    footer {
        width: 781px;
    }

    /* Home Page */
    .explore__home-page {
        height: 478px;
    }

    .explore__home-page img {
        width: 270px;
    }

    /* Exhibitions */
    .exhibitions-grid-container {
        width: 740px;
    }

    .explore {
        margin-bottom: 20px;
    }

    .explore,
    .explore img {
        width: 740px;
    }

    .robotics,
    .sky,
    .robotics img,
    .sky img {
        width: 480px;
    }

    .evolution,
    .evolution img {
        width: 240px;
    }

    .evolution {
        height: 1135px;
    }

    /* Visit Us */
    .facilities {
        height: 490px;
        padding-bottom: 0;
        overflow: hidden;
    }
    
    .facilities h2,
    .facilities h3,
    .facilities p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .facilities h2 {
        padding-top: 20px;
        margin-top: 0;
    }

    .facilities h3 {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .facilities p {
        margin: auto 20px 10px 40px;
    }

    .facilities img {
        width: 310px;
        margin-right: -40px;
    }

    .tickets_form {
        width: 140px;
    }

    /* About Us */
    .about {
        height: 570px;
    }

    .about img {
        width: 380px;
        height: 570px;
    }

    /* Contact Us */    
    .form {
        margin: auto 20px auto 40px;
      }
    
    .contact_form {
        width: 250px;
    }
}


@media only screen and (min-width: 601px) and (max-width: 800px) {
    header {
        width: 581px;
    }

    nav li {
        margin-right: 45px;
    }

    .logo h1 {
        font-size: 1.7em;
    }

    .logo p {
        font-size: 1.2em;
        margin-left: 285px;
    }

    main {
        display: block;
        margin-top: 10px;
    }
    
    h1 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.1em;
    }

    p {
        font-size: 0.9em;
    }

    .welcome,
    .explore__home-page,
    .facilities,
    .exhibitions-grid-container,
    .explore,
    .robotics,
    .sky,
    .evolution,
    .visit-us,
    .facilities,
    .tickets,
    .about,
    .contact,
    .welcome img,
    .visit-us img,
    .explore img,
    .robotics img,
    .sky img,
    .evolution img,
    .visit-us img {
        width: 540px;
    }

    .exhibitions-grid-container,
    .about,
    .contact {
        display: block;
    }

    .contact img,
    .about img {
        height: 100%;
        width: 100%;
    }

    footer {
        width: 581px;
    }


    /* Home Page */
    .explore__home-page {
        height: 478px;
    }

    .explore__home-page img {
        width: 270px;
    }

    .info__home-page {
        display: flex;
        justify-content: space-between;
    }


    /* Exhibitions */
    .evolution {
        height: 1359px;
    }


    /* Visit Us */    
    .facilities {
        height: 490px;
        margin-bottom: 40px;
        overflow: hidden;
    }
    
    .facilities h2,
    .facilities h3,
    .facilities p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .facilities h2 {
        padding-top: 20px;
        margin-top: 0;
    }

    .facilities h3 {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .facilities p {
        margin: auto 20px 10px 40px;
    }

    .facilities img {
        width: 310px;
        margin-right: -40px;
    }
    
    .visit-us-info {
        display: flex;
        justify-content: space-between;
    }

    .visit-us-info .opening-hours {
        height: 310px;
    }

    .tickets {
        width: 210px;
    }

    .tickets_form {
        width: 190px;
    }


    /* About Us */
    .about {
        display: flex;
        height: 650px;
        overflow: hidden;
    }

    .about_text {
        margin: auto 20px 40px auto;
        width: 600px;
    }
    
    .about-img {
        overflow: hidden;
    }

    .about-img img {
        width: 420px;
        margin-left: -80px;
    }

    /* Contact Us */
    .contact {
        height: 1215px;
    }

    .contact h1 {
        padding-top: 30px;
    }

    .contact_form {
        width: 450px;
    }

    .contact-img {
        overflow: hidden;
    }

    .contact img {
        margin-top: -150px;
    }
}


@media only screen and (max-width: 600px) {
    header {
        width: 500px;
    }

    nav li {
        margin-right: 29px;
    }

    .logo h1 {
        font-size: 1.5em;
    }

    .logo p {
        font-size: 1.1em;
        margin-left: 240px;
    }
    main {
        display: block;
        margin-top: 10px;
    }

    .welcome,
    .explore__home-page,
    .facilities,
    .explore,
    .robotics,
    .sky,
    .evolution,
    .visit-us,
    .facilities,
    .tickets,
    .about,
    .contact,
    .welcome img,
    .visit-us img,
    .explore img,
    .robotics img,
    .sky img,
    .evolution img,
    .visit-us img {
        width: 480px;
    }

    .exhibitions-grid-container,
    .about,
    .contact {
        display: block;
    }

    .contact img,
    .about img {
        width: 100%;
    }

    footer {
        width: 500px;
    }


    /* Home Page */
    .explore__home-page {
        height: 425px;
    }

    .explore__home-page h2 {
        padding-top: 30px;
        margin-bottom: 0;
    }

    .explore__home-page img {
        width: 240px;
    }

    .info__home-page {
        display: flex;
        justify-content: space-between;   
    }

    .info__home-page .opening-hours,
    .info__home-page .events {
        width: 170px;
    }


    /* Exhibitions */
    .exhibitions-grid-container {
        width: 480px;
    }

    .evolution {
        height: 1318px;
    }

    /* Visit Us */
    .facilities {
        display: block;
        height: 990px;
        margin-bottom: 40px;
        overflow: hidden;
    }
    
    .facilities h2,
    .facilities h3,
    .facilities p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .facilities h2 {
        padding-top: 20px;
        margin-top: 0;
    }

    .facilities h3 {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .facilities p {
        margin: auto 20px 20px 40px;
    }

    .facilities-img {
        overflow: hidden;
    }
    
    .facilities img {
        width: 100%;
        margin-top: -130px;
    }

    .visit-us-info .opening-hours {
        height: 330px;
        margin: auto auto 40px auto;
    }

    .tickets {
        padding: 10px 0px;
    }

    .tickets form,
    .tickets h3,
    .tickets p {
        padding-left: 40px;
    }

    .tickets_form {
        width: 370px;
    }


    /* About Us */
    .about {
        display: flex;
        height: 840px;
        overflow: hidden;
    }
    
    .about h1 {
        margin: 30px 40px;
    }

    .about p {
        margin-right: 30px;
    }

    .about-img {
        width: 180px;
        overflow: hidden;
    }

    .about-img img {
        height: 950px;
        width: 700px;
        margin-left: -150px;
        margin-top: -80px;
    }

    .about_text {
        width: 300px;
        margin: 20px 0 40px 0;
    }
    

    /* Contact Us */
    .contact {
        height: 1077px;
        overflow: hidden;
    }

    .contact h1 {
        padding-top: 30px;
        margin-top: 0;
    }

    .contact_form {
        width: 350px;
    }

    .contact-img {
        overflow: hidden;
    }

    .contact img {
        width: 100%;
        margin-top: -120px;
    }
}