@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 801px) and (max-width: 1023px) {
    header {
        width: 801px;
    }

    main {
        gap: 20px;
    }


    h3 {
        font-size: 1.1em;
    }
    
    p {
        font-size: 0.9em;
    }

    .welcome,
    .explore__home-page,
    .visit-us,
    .facilities {
        width: 580px;
    }

    .welcome img,
    .visit-us img {
        width: 580px;
    }

    .opening-hours,
    .events,
    .tickets {
        width: 160px;
        padding: 15px;
    }

    .about,
    .contact {
        width: 760px;
    }

    .about h1,
    .contact h1 {
        margin-bottom: 20px;
    }

    footer {
        width: 801px;
    }

    /* Home Page */
    .explore__home-page {
        height: 525px;
    }

    .explore__home-page img {
        width: 290px;
    }

    /* Exhibitions */
    .exhibitions-grid-container {
        width: 760px;
    }

    .explore {
        margin-bottom: 20px;
    }

    .explore,
    .explore img {
        width: 780px;
    }

    .robotics,
    .sky,
    .robotics img,
    .sky img {
        width: 500px;
    }

    .evolution,
    .evolution img {
        width: 260px;
    }

    /* Visit Us */
    .facilities {
        height: 540px;
        padding-bottom: 0;
    }
    
    .facilities h2,
    .facilities h3,
    .facilities p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .facilities h2 {
        padding-top: 30px;
    }

    .facilities h3 {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .facilities p {
        margin-top: 0px;
    }

    .facilities .float {
        height: 540px;
        margin-left: 20px;
    }

    .tickets_form {
        width: 140px;
    }

    /* About Us */
    .about {
        height: 540px;
    }
    
    

    .about .float {
        height: 540px;
        margin-left: 20px;
    }

    /* Contact Us */    
    .contact .float {
        margin-left: 20px;
    }   
    .form {
        margin: auto 20px auto 40px;
      }
    
    .contact_form {
        width: 250px;
    }

}


@media only screen and (min-width: 601px) and (max-width: 800px) {
    header {
        width: 601px;
    }

    nav li {
        margin-right: 50px;
    }

    .logo h1 {
        font-size: 1.7em;
    }

    .logo p {
        font-size: 1.2em;
        margin-left: 285px;
    }
    main {
        display: block;
    }
        
    .welcome,
    .explore__home-page,
    .facilities,
    .welcome img,
    .visit-us img {
        width: 580px;
    }
    
    .about,
    .contact {
        width: 581px;
    }
        
    footer {
        width: 601px;
    }


    /* Home Page */
    .explore__home-page {
        height: 520px;
    }

    .explore__home-page img {
        width: 290px;
    }

    .opening-hours,
    .events {
        display: inline-block;
        width: 200px;
        margin-bottom: 40px;
    }

    .opening-hours {
        margin-right: 28px;
    }

    .events {
        margin-left: 30px;
    }

    .home-page__opening-events {
        
    }

    /* Exhibitions */


    /* Visit Us */
    .tickets {
        width: 160px;
        padding: 15px;
    }

    /* About Us */
    .float {
        
    }

    /* Contact Us */

}



@media only screen and (max-width: 600px) {


    /* Home Page */


    /* Exhibitions */


    /* Visit Us */


    /* About Us */


    /* Contact Us */
}