@import "imports/links.css";
@import "imports/variables.css";
@font-face {
  font-family: "Open Sans Regular";
  src: url("fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Semi Bold";
  src: url("fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins Extra Bold";
  src: url("fonts/Poppins-ExtraBold.ttf") format("truetype");
}

body {
  font-family: "Open Sans Regular";
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  height: 100vh;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Poppins";
}

header {
  position: sticky;
  z-index: 1;
  top: 0px;
  background-color: var(--white);
  width: 1004px;
}

header h1 {
  font-family: "Poppins Extra Bold";
}

header a,
footer a {
  text-decoration: none;
}

.logo {
  background: linear-gradient(to right, var(--blue), var(--dark-blue));
  padding: 20px 50px;
  color: var(--white);
  margin-bottom: 30px;
}

.logo h1 {
  font-size: 2em;
  margin: 10px auto 0px auto;
}

.logo p {
  font-size: 1.5em;
  margin: 0px auto 10px 300px;
}

main {
  margin-top: 30px;
  max-width: 1004px;
  animation: fade-in-main 1s forwards;
  opacity: 0;
}

@keyframes fade-in-main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.opening-hours {
  border: 1px solid var(--grey);
  width: 180px;
  padding: 10px 30px;
  margin-bottom: 40px;
}

footer {
  width: 1004px;
  margin: 50px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--grey);
  
}

footer div {
  padding: 5px;
  margin: 20px 100px;
}
