@import "imports/links.css";
@import "imports/variables.css";
@font-face {
  font-family: "Open Sans Regular";
  src: url("fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins Extra Bold";
  src: url("fonts/Poppins-ExtraBold.ttf") format("truetype");
}

body {
  font-family: "Open Sans Regular";
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  height: 100vh;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Poppins";
}

header {
  position: sticky;
  top: 0px;
  background-color: var(--white);
  width: 1100px;
}

nav li {
  display: inline-block;
  padding: 5px;
  margin: auto 100px auto auto;
  position: relative;
}

.active {
  font-weight: 600;
  text-decoration: underline;
}

.nav_hover {
  position: relative;
  overflow: hidden;
}

.nav_hover:before {
  content: "";
  background: var(--black);
  position: absolute;
  width: 90px;
  padding: 1px;
  top: 30px;
  left: -95px;
  transition: left ease-in-out 0.6s;
}

.nav_hover:hover:before {
  left: 0;
}



header h1 {
  font-family: "Poppins Extra Bold";
}

header a {
  text-decoration: none;
}

.logo {
  background: linear-gradient(to right, var(--blue), var(--dark-blue));
  padding: 20px 50px;
  color: var(--white);
  margin-bottom: 40px;
}

.logo h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.logo p {
  font-size: 1.5em;
  margin-top: 10px;
  margin-left: 300px;
}

main {
  margin-top: 40px;
  max-width: 1024px;
}

.opening-hours {
  border: 1px solid var(--grey);
  width: 180px;
  padding: 10px 30px;
  margin-bottom: 40px;
}

footer {
  width: 1100px;
  margin: 50px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--grey);
  
}

footer div {
  padding: 5px;
  margin: 20px 100px;
}

footer a {
  text-decoration: none;
}