main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.visit-us {
  background-color: var(--turquoise);
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.visit-us,
.facilities,
.visit-us img {
  width: 680px;
}

.visit-us-text {
  margin: auto 40px;
}

.facilities {
  background-color: var(--yellow);
  display: flex;
  height: 608px;
}

.facilities h2 {
  margin: 0px 40px;
  padding-top: 40px;
}

.facilities h3 {
  font-weight: 500;
  margin: auto 40px;
}

.facilities p {
  margin: auto 40px 20px 40px;
}

.tickets {
  background-color: var(--orange);
  width: 182px;
  padding: 10px 30px;
  margin-bottom: 40px;
}

.tickets_form {
  width: 152px;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 8px;
  display: block;
}

button {
  width: 80px;
  height: 30px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1em;
}
